<div class="">
    <footer class="text-center align-items-center py-3 my-4 border-top">
        <div class="row">
            <div class="col-4">

            </div>
            <div class="col-4">
                &copy <span id="year"></span> Avtokamp Oteshevo

            </div>
            <div class="col-2"></div>
            <div class="col-1">
                <!-- <span id="git"><a target="_blank" href="https://github.com/stojchevskiboris/" ><img width="30px" src="/data/static/git.png"></a></span> -->
            </div>
            <div class="col-1"></div>
        </div>
    </footer>
</div>
<style>

</style>
<script>
    document.getElementById("year").innerText = new Date().getFullYear()
</script>